<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EduTrainTest</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="apple-touch-icon" href="{{ url_for('.static',filename='apple-icon.png') }}">
    <link rel="shortcut icon" href="{{ url_for('.static',filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ url_for('.static',filename='assets/scss/style.css') }}">
    <link href="{{ url_for('.static',filename='assets/css/lib/vector-map/jqvmap.min.css') }}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<style>
.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
</style>
<body>


        <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./">EduTrainTest</a>
                <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/result"> <i class="menu-icon fa fa-dashboard"></i>Check Your Performance </a>
                    </li>
                    <!--
                    <h3 class="menu-title"><font color="white">Online Tests</font></h3><!-- /.menu-title 

                    <li class="menu-item-has-children dropdown">
                        <a href="/index" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book">Test1(Random Questions)</i></a>
                        <a href="/test2" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book">Test2</i></a>
                        <a href="/test3" class="dropdown-toggle" dria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book">Test3</i></a>
                        <a href="/test4" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book">Test4</i></a>   
                    </li>
                    -->

                    <h3 class="menu-title"><font color="white">Practice</font></h3><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Aptitude</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Reasoning</a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Programming</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="#">C programming</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">C++</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Java</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">C#</a></li>
                        </ul>
                    </li>

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Technical MCQs</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Networking Questions</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Database Questions</a></li>
                            <li><i class="menu-icon fa fa-th"></i><a href="#">Data Structures</a></li>
                        </ul>
                    </li>
                    <h3 class="menu-title"><font color="white">Extra Resources..</font></h3><!-- /.menu-title -->

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-book"><br>E-Books</i></a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-book"></i><a href="https://drive.google.com/file/d/1cF8dv_11ebyTQHVtOo6pmr15uYQdRaKI/view">C programming</a></li>
                            <li><i class="fa fa-book"></i><a href="http://www.mldcollege.com/panel/programs/Object%20Oriented%20Programming%20with%20C__-Bal%20-%20E.Balagurusamy.pdf">C++</a></li>
                            <li><i class="fa fa-book"></i><a href="http://iiti.ac.in/people/~tanimad/JavaTheCompleteReference.pdf">Java</a></li>
                            <li><i class="fa fa-book"></i><a href="https://www.introprogramming.info/wp-content/uploads/2013/07/Books/CSharpEn/Fundamentals-of-Computer-Programming-with-CSharp-Nakov-eBook-v2013.pdf">C#</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{{ url_for('.static',filename='avatar.png') }}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                                <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                                <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                                <a class="nav-link" href="/logout"><i class="fa fa-power -off"></i><b>Logout</b></a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active"><b><font size="5">Welcome {{username}}</font></b></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">

            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success">Welcome to EduTrainTest.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        <div class="container text-center">
            <div class="row">
            <div class="col">
            <a href="/index" class="card-link">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <div class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-shuffle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
                            <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
                          </svg>
                        </div>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Test-1</h6>
                      <p class="card-text">Take this test if you want randomized questions.</p>
                    </div>
                  </div>
                </a>
            </div>
            <div class="col">
                <a href="/test2" class="card-link">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <div class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">
                            <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                            <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                          </svg>
                        </div>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Test-2</h6>
                      <p class="card-text">Take this test if you are looking to crack govt. exams.</p>
                    </div>
                  </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/test3" class="card-link">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <div class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                            <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                            <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
                          </svg>
                        </div>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Test-3</h6>
                      <p class="card-text">Take this test if you are looking to crack university entrance exams.</p>
                    </div>
                  </div>
                </a>
            </div>
            <div class="col">
                <a href="/test4" class="card-link">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <div class="card-title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-buildings-fill" viewBox="0 0 16 16">
                            <path d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5V.5ZM2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-1 2v1H2v-1h1Zm1 0h1v1H4v-1Zm9-10v1h-1V3h1ZM8 5h1v1H8V5Zm1 2v1H8V7h1ZM8 9h1v1H8V9Zm2 0h1v1h-1V9Zm-1 2v1H8v-1h1Zm1 0h1v1h-1v-1Zm3-2v1h-1V9h1Zm-1 2h1v1h-1v-1Zm-2-4h1v1h-1V7Zm3 0v1h-1V7h1Zm-2-2v1h-1V5h1Zm1 0h1v1h-1V5Z"/>
                          </svg>
                        </div>
                      <h6 class="card-subtitle mb-2 text-body-secondary">Test-4</h6>
                      <p class="card-text">Take this test if you are looking to crack common entrance tests.</p>
                    </div>
                  </div>
                </a>
            </div>
    </div>
</div>
</div>

    <!-- Right Panel -->

    <script src="{{ url_for('.static',filename='assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="{{ url_for('.static',filename='assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/main.js') }}"></script>


    <script src="{{ url_for('.static',filename='assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/dashboard.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/widgets.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/lib/vector-map/jquery.vmap.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/lib/vector-map/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/lib/vector-map/jquery.vmap.sampledata.js') }}"></script>
    <script src="{{ url_for('.static',filename='assets/js/lib/vector-map/country/jquery.vmap.world.js') }}"></script>
    
</body>
</html>
