<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>EduTrainTest</title>
    <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.scss.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolkit-inverse.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <h1 class=" ta">Edu.TrainTest</h1>
        </div>
        <a href="/dashboard">
        <button type="button" class="btn btn-warning">Dashboard</button> </a>
        <hr/>
    </div>
    <div class="container" id="instructions">
        <div class="row">
            <div class="col-md-12">
                <p>
                    Instructions
                    <ul>
                        <li>There are 3 sections:</li>
                        <ul>
                            <li>Section1- Aptitude</li>
                            <li>Section2- Reasoning</li>
                            <li>Section3- Verbal or Programming</li>
                        </ul>
                        <li>Total number of questions : 30</li>
                        <li>Time alloted : 30 or 40 minutes.</li>
                        <li>Each question carry 1 mark, no negative marks.</li>
                        <li>DO NOT refresh the page.</li>
                        <li><b>Warning: There is no switching between sections</b></li>
                        <li>All the best :-).</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-12 ta">
                <a onclick="loadSection()" class="ce apn ame text-xs-center ta">Start Exam</a>
            </div>
        </div>
    </div>
    <div class="container" id="questions" style="display: none">
        <div class="row">
            <div class="col-md-12" id="questions_container">
            </div>
        </div>
        <div class="row">
            <button id="next_btn" onclick="loadSection()" type="button" class="btn btn-lg btn-pill btn-info">Next</button>
            <button id="finish_btn" onclick="finish()" type="button" class="btn btn-lg btn-pill btn-success">Finish</button>
        </div>
    </div>
    <div id="qns_sample" class="qns_rows" style="display: none">
        <p id="qns_title">Qns</p>
        <p id="ans" style="display: none">Qns</p>
        <ul id="choice_list" class="choice_list" style="list-style: none">
            <li>1</li>
            <li>2</li>
        </ul>
    </div>
    <div class="container ta" id="results">
        <div class="row ta">
            <div class="col-md-12 ta">
                <h3 id="result_text"></h3>
                <div class="col-md- ta" style="max-width: 300px;text-align: center;margin-left: 40%">
                    <canvas id="myChart" width="300" height="300"></canvas>
                </div>
                <table class="cl" id="results_table" style="text-align: left">
                    <thead>
                        <t>
                            <th class="header">Section</th>
                            <th class="header">Marks</th>
                            </tr>
                            <tbody>
                            </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/toolkit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/application.js') }}"></script>
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prem.js') }}"></script>

</html>
